@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #081b29;
    --text-color: #ffffff;
    --border-color: #0ef;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 25px var(--border-color);
    overflow: hidden;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
    display: none;
}

.wrapper .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
}

.form-box h2 {
    font-size: 32px;
    color: var(--text-color);
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    /* background: seagreen; */
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--text-color);
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
    padding-right: 23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom: 2px solid var(--border-color);

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: var(--border-color);
}

.input-box i {
    position: absolute;
    top: 15px;
    right: 0;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
    transition: .5s;

}

.input-box input:focus~i,
.input-box input:valid~i {

    color: var(--border-color);
}

.btn {
    /* position: absolute; */
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid var(--border-color);
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 600%;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    top: 0;
}

.form-box .logreg-link {
    font-size: 14.5px;
    color: var(--text-color);
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a {
    text-decoration: none;
    color: var(--border-color);
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}


.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    display: none;

}

.info-text h2 {
    font-size: 36px;
    color: var(--text-color);
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    color: var(--text-color);
    font-size: 16px;
}

.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29, #0ef);
    border-bottom: 3px solid var(--border-color);
    /* transform: rotate(10deg) skewY(40deg); */
    transform: rotate(0) skewY(0);
    transform-origin: bottom right;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #081b29;
    border-top: 3px solid var(--border-color);
    transform: rotate(-11deg) skewY(-41deg);
    transform-origin: bottom left;
}